.contacts .container {
  padding: 0 0;
}

.contacts {
  padding-top: 4px;
  padding-bottom: 5.5%;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 52px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 45px;
    padding-bottom: 30px;
  }
}

.contacts h2 {
  @include font(30px, 30px, 600);

  margin-top: 25px;
  margin-bottom: 29px;

  text-align: center;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-width-only) {
    @include font(24px, 30px, 600);

    margin-top: 15px;
    margin-bottom: 21px;
  }

  @media (max-width: $mobile-width-only) {
    @include font(18px, 29px, 600);
  }
}

.contacts p {
  @include font(17px, 31px, 400);

  width: 50%;
  margin: 0 auto;
  padding-bottom: 42px;

  text-align: center;
  color: rgba($black, 0.7);

  @media (max-width: $tablet-width-only) {
    width: 100%;
    padding-bottom: 18px;
  }

  @media (max-width: $mobile-width-only) {
    width: 83%;
    padding-bottom: 20px;
  }
}

.contacts iframe {
  display: block;
  width: 957px;
  min-height: 530px;
  margin: 0 auto;

  background-color: $gray-light;
  border: none;

  @media (max-width: $tablet-width-only) {
    width: 698px;
    min-height: 545px;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 564px;
  margin: 0 auto;
  padding: 33px 16px 0 0;

  @media (max-width: $tablet-width-only) {
    padding: 17px 14px 0 3px;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: center;
    padding-top: 25px;
  }
}

.contacts__item {
  position: relative;

  padding-left: 41px;

  &:hover a {
    color: $cyan;

    transition: 0.6s;
  }

  &:hover .contacts__letter {
    color: $gray;

    transition: 0.6s;
  }

  &:hover .contacts__phone {
    transition: 0.6s;

    stroke: $gray;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 15px;
    padding-left: 38px;
  }
}

.contacts__item svg {
  position: absolute;
  top: 5px;
  left: 2px;

  &.contacts__phone {
    top: 4px;
    left: 2px;
  }

  @media (max-width: $tablet-width-only) {
    &.contacts__phone {
      left: 4px;
    }

    &.contacts__letter {
      left: 0;
    }
  }

  @media (max-width: $mobile-width-only) {
    &.contacts__letter {
      top: 8px;
      left: 19px;
    }

    &.contacts__phone {
      left: 0;
      top: 0
    }
  }
}

.contacts__letter {
  color: $cyan;

  transition: 0.6s;

  @media (max-width: $mobile-width-only) {
    color: $cyan;
  }
}

.contacts__phone {
  color: $white;

  transition: 0.6s;

  stroke: $cyan;
}

.contacts__item a {
  @include font(16px, 22px, 400);

  color: rgba($black, 0.5);

  transition: 0.6s;

  @media (max-width: $mobile-width-only) {
    &.contacts__post {
      margin-left: 20px;
    }
  }
}
