.page-header {
  position: relative;

  background-color: $black;
  background-image: url("../img/main-background-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/main-background-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-only) {
    background-color: transparent;
    background-image: none;
  }
}

.page-header__menu {
  width: 100%;
  max-width: 874px;
  margin: 0 auto;
}

.page-header__navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;

  @media (max-width: $tablet-width-only) {
    position: relative;

    display: none;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 100px;
    padding-right: 0;
    padding-bottom: 138px;
    padding-left: 0;

    background-color: $white;
    opacity: 1;
  }
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-right: 17px;
  padding-left: 15px;

  border-bottom: 1px solid rgba($white, 0.2);

  @media (max-width: $tablet-width-only) {
    justify-content: flex-start;
    padding: 0;

    border-bottom: none;
  }
}

.page-header a.page-header__link {
  @include font(16px, 32px, 300);

  display: block;
  padding: 6px 5px;

  font-style: normal;
  font-family: inherit;
  text-align: center;
  color: $white;
  letter-spacing: -0.005em;

  border-bottom: 2px solid rgba($white, 0);
  cursor: pointer;
  opacity: 0.7;

  transition: 0.6s;

  &:hover {
    color: $cyan;

    border-bottom: 2px solid $cyan;

    transition: 0.6s;
  }

  @media (max-width: $tablet-width-only) {
    @include font(20px, 28px, 400);

    width: 100%;
    padding: 17px 16px;

    text-align: left;
    color: $gray;

    background-color: $gray-light;
    border-bottom: none;
    opacity: 1;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 893px;
  margin: 0 auto;
  padding-top: 13.8%;
  padding-right: 7px;
  padding-bottom: 15.4%;
  padding-left: 6px;

  @media (max-width: $tablet-width-only) {
    position: relative;

    flex-direction: column;
    max-width: 100%;
    padding: 0;
  }
}

.page-header__bg {
  @media (max-width: $tablet-width-only) {
    width: 100%;

    background-color: #131313;
    background-image: url("../img/main-background-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/main-background-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/main-background-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/main-background-mobile@2x.jpg");
    }
  }
}

.page-header__box {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;

  @media (max-width: $tablet-width-only) {
    max-width: 100%;
    padding-top: 17.6%;
    padding-bottom: 10.2%;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 38%;
    padding-bottom: 21.8%;
  }
}

.page-header__box a {
  display: block;
  margin-bottom: 20px;

  color: $cyan;

  transition: 0.6s;

  @media (max-width: $tablet-width-only) {
    position: absolute;
    top: 3.5%;
    left: 3%;
  }

  @media (max-width: $mobile-width-only) {
    top: 3%;
    left: 5%;
  }

  &:hover {
    color: $white;

    transition: 0.6s;
  }
}

.page-header__box h1 {
  @include font(46px, 64px, 700);

  margin: 0;
  margin-bottom: 24px;

  color: $white;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-width-only) {
    @include font(30px, 42px, 700);

    width: 100%;
    margin-bottom: 20px;

    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    margin-bottom: 18px;
    width: 70%;
  }
}

.page-header__box p {
  @include font(20px, 32px, 300);
  @include mapa;

  font-family: inherit;
  color: rgba($white, 0.8);
  letter-spacing: -0.005em;

  @media (max-width: $tablet-width-only) {
    @include font(18px, 32px, 300);

    width: 60%;
    margin: 0 auto;

    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    width: 62%;
  }

  @media (max-width: 550px) {
    width: 82%;
  }
}

.page-header__form-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  max-width: 327px;

  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
    padding-top: 9%;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 80%;
    padding-top: 12%;
  }

  @media (max-width: 480px) {
    min-width: 90%;
    padding-top: 12%;
  }

  @media (max-width: 360px) {
    min-width: 100%;
    padding-top: 22%;
  }
}

.page-header__form-box input {
  @include font(15px, 24px, 400);

  display: flex;
  width: 100%;
  margin-bottom: 19px;
  padding: 14px 29px 10px;

  background-color: $white;
  border: 1px solid $form-border;
  border-radius: 6px;

  transition: 0.6s;

  &:hover {
    border-color: $cyan;
    border-radius: 6px;
    box-shadow: 0 0 0 1px $cyan;

    transition: 0.6s;
  }

  &:focus {
    border-color: $black;
    outline: none;
    box-shadow: 0 0 0 2px $cyan;
  }

  &:focus:invalid {
    border-color: red;
    outline: none;
    box-shadow: 0 0 0 2px red;
  }

  &::placeholder {
    color: rgba($form, 0.5);
  }

  @media (max-width: $tablet-width-only) {
    padding: 11px 21px 11px;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 13px 26px 9px;
    margin-bottom: 19px;
  }
}

.page-header__form-button {
  @include font(15px, 24px, 400);
  @include mapa;

  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 14px 29px 13px;

  font-weight: 600;
  color: $black;

  background-color: $cyan;
  // border: 1px solid $form-border;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  transition: 0.6s;

  &:hover {
    background-color: $white;

    transition: 0.6s;
  }
}

.page-header__form-box form {
  width: 100%;

  @media (max-width: $mobile-width-only) {
    width: 90%;
  }
}

.page-header__form-box p {
  @include font(17px, 28px, 600);
  @include mapa;

  margin-top: 6px;
  margin-bottom: 16px;

  font-family: inherit;
  text-align: center;
  color: $white;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-width-only) {
    @include font(18px, 28px, 600);

    margin-top: 0;
    margin-bottom: 30px;

    color: $black;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 20px;

    width: 85%;
  }
}

.page-header__toggle {
  display: none;
}

@media (max-width: $tablet-width-only) {
  .page-header__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    display: block;
    width: 50px;
    min-height: 50px;
    padding: 14px 17px;

    background: $white;
    background-color: $cyan;
    border: none;
    outline: none;

    &:active {
      background-color: $gray;
      transform: scale(1.2);
      opacity: 1;

      transition: 0.6s;
    }
  }

  .page-header__icon-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;

    display: block;
  }

  .page-header__icon-close {
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 100;

    display: block;

    opacity: 0.8;

    transition: 0.6s;

    &:active {
      transform: scale(1.2);
      opacity: 1;

      transition: 0.6s;
    }
  }

  .page-header--nojs {
    .page-header__toggle {
      display: none;
    }

    .page-header__navigation {
      position: relative;

      display: block;
    }
  }

  .page-header--closed {
    .page-header__icon-close {
      display: none;
    }

    .page-header__icon-menu {
      display: block;
    }
  }

  .page-header--opened {
    .page-header__icon-close {
      display: block;
    }

    .page-header__icon-menu {
      display: none;
    }

    .page-header__navigation {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;

      display: block;
    }

    .page-header__toggle {
      background-color: $white;
    }
  }

  @keyframes menu {
    0% {
      transform: translateY(-400px);
    }

    0% {
      opacity: 0.2;
    }

    100% {
      transform: translateY(0);
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes menuclose {
    0% {
      transform: translateY(0);
    }

    0% {
      opacity: 1;
    }

    100% {
      transform: translateY(-400px);
    }

    100% {
      opacity: 0;
    }
  }

  .page-header__menu-show {
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-name: menu;
    animation-duration: 0.6s;
  }

  .page-header__menu-close {
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-name: menuclose;
    animation-duration: 0.6s;
  }

  .page-header__item {
    position: relative;

    width: 100%;
    margin-bottom: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: 16px;

      width: 8px;
      height: 12px;

      background-image: url("../img/icon-arrow-right.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
