.types {
  position: relative;

  padding: 150px 0 137px;

  background-color: $gray-light;
}

.types h2 {
  @include mapa;
  @include font(30px, 30px, 600);

  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  letter-spacing: -0.005em;
}

.types__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0;

  @media (max-width: $tablet-width-only) {
    padding: 0 30px;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: center;

    padding: 0;
  }
}

.types__item {
  position: relative;
  z-index: 10;

  flex: 0 1 30.2%;

  margin-bottom: 10px;
  padding: 0;

  @media (max-width: 1100px) {
    flex-basis: auto;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 120px);
    left: -60px;
    z-index: -1;

    width: 180px;
    height: 180px;

    background-image: url("../img/ellipse.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -4%;
    z-index: 1;

    width: 47px;
    height: 47px;
  }

  &:nth-child(3n + 2) {
    margin-top: 30px;

    &::after {
      z-index: 2;

      background-image: url("../img/rectangle.svg");
      background-repeat: no-repeat;
    }

    &::before {
      top: auto;
      bottom: 5%;
      left: auto;
      right: -8%;
      z-index: 3;

      width: 47px;
      height: 47px;

      background-image: url("../img/rectangle.svg");
      background-repeat: no-repeat;
    }
  }

  &:nth-child(3n + 3) {
    margin-top: -10px;

    &::before {
      top: -33px;
      left: auto;
      right: -12%;
      z-index: 3;

      width: 95px;
      height: 95px;
    }
  }
}

.types__img {
  width: 342px;
  height: 510px;

  @media (max-width: 1100px) {
    width: 270px;
    height: 300px;
    max-height: 300px;
  }
}

.types__item--children .types__img {
  // padding: 256px 0;
  background-image: url("../img/children-1-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 10px;
}

.types__item--mountains .types__img {
  // padding: 283px 0;
  height: 566px;

  background-image: url("../img/mountains-1-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  border-radius: 10px;
}

.types__item--road .types__img {
  // padding: 251px 0;
  background-image: url("../img/road-1-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  border-radius: 10px;
}

@media (min-resolution: $retina-dppx) {
  .types__item--children .types__img {
    background-image: url("../img/children-1-desktop@2x.png");
  }

  .types__item--mountains .types__img {
    background-image: url("../img/mountains-1-desktop@2x.png");
  }

  .types__item--road .types__img {
    background-image: url("../img/road-1-desktop@2x.png");
  }
}

// .types img {
//   position: relative;
//   z-index: 2;

//   display: block;
//   width: 100%;
//   // width: 343px;
//   height: auto;
// }

.types p {
  @include font(22px, 34px, 600);
  @include mapa;

  margin-top: 20px;

  font-family: inherit;
  text-align: center;
  color: $black;
  letter-spacing: -0.5px;
}

@media (max-width: $tablet-width-only) {
  .types {
    margin-top: 70px;
    padding: 50px 10px 70px;
  }

  .types h2 {
    @include font(24px, 41px, 600);

    margin-bottom: 30px;
  }

  .types__item--children .types__img {
    // padding: 150px 0;
    background-image: url("../img/children-1-tablet@1x.png");
  }

  .types__item--mountains .types__img {
    // padding: 150px 0;
    background-image: url("../img/mountains-1-tablet@1x.png");
  }

  .types__item--road .types__img {
    // padding: 150px 0;
    background-image: url("../img/road-1-tablet@1x.png");
  }

  @media (min-resolution: $retina-dppx) {
    .types__item--children .types__img {
      background-image: url("../img/children-1-tablet@2x.png");
    }

    .types__item--mountains .types__img {
      background-image: url("../img/mountains-1-tablet@2x.png");
    }

    .types__item--road .types__img {
      background-image: url("../img/road-1-tablet@2x.png");
    }
  }

  .types__item {
    position: relative;

    flex: 0 0 270px;
    margin-bottom: 50px;

    &:last-child {
      margin: 0 auto;
    }

    &::before {
      content: "";
      position: absolute;
      top: auto;
      bottom: 25px;
      left: -35px;
      z-index: 1;

      width: 127px;
      height: 127px;

      background-image: url("../img/ellipse.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:nth-child(3n + 2) {
      margin-top: 0;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &:nth-child(3n + 3) {
      margin-top: 0;

      &::before {
        top: -20px;
        right: -27px;
        left: auto;
        z-index: 3;

        width: 68px;
        height: 68px;
      }
    }
  }

  .types img {
    position: relative;
    z-index: 2;

    display: block;
    width: 100%;
    height: auto;
  }

  .types p {
    margin-top: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .types {
    // margin-top: -10px;
    padding: 0;
    padding-bottom: 57px;
  }

  .types h2 {
    margin-bottom: 30px;
  }

  .types__item {
    margin-bottom: 41px;

    &:not(:last-child) {
      margin-right: 0;
    }

    &::before {
      position: absolute;
      left: -25px;
    }

    &:nth-child(3n + 3) {
      &::before {
        right: -10px;
      }
    }
  }

  .types p {
    margin-top: 20px;
  }
}
