.types {
  display: flex;
  justify-content: center;

  width: 100%;

  padding: 150px 10px 135px;
  margin-top: 84px;

  background-color: $gray-light;

  position: relative;
  z-index: -1;
}

.types h2 {
  display: flex;
  justify-content: center;

  @include mapa;
  margin-bottom: 63px;

  font-family: inherit;

  @include font (30px, 30px, 600);

  letter-spacing: -0.005em;
}

.types__list,
.types__item {
  @include mapa-ul;
}

.types__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0 auto;

  width: 100%;
}

.types__item--children .types__img {
  background-image: url("../img/children-1-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center top;

  border-radius: 10px;

  padding: 256px 0;
}

.types__item--mountains .types__img {
  background-image: url("../img/mountains-1-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;

  border-radius: 10px;

  padding: 283px 0;
}

.types__item--road .types__img {
  background-image: url("../img/road-1-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;

  border-radius: 10px;

  padding: 251px 0;
}

@media (min-resolution: $retina-dppx) {
  .types__item--children .types__img {
    background-image: url("../img/children-1-desktop@2x.png");
  }

  .types__item--mountains .types__img {
    background-image: url("../img/mountains-1-desktop@2x.png");
  }

  .types__item--road .types__img {
    background-image: url("../img/road-1-desktop@2x.png");
  }
}

.types__item {
  position: relative;
  z-index: 10;

  flex: 0 1 30.2%;
  // flex: 0 1 342px;

  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &::before {
    position: absolute;
    left: -60px;
    top: calc(50% - 120px);
    z-index: -1;

    content: "";

    width: 180px;
    height: 180px;

    background-image: url("../img/ellipse.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    position: absolute;
    left: -18px;
    top: -23px;
    z-index: 1;

    content: "";

    width: 47px;
    height: 47px;
  }

  &:nth-child(3n+2) {
    margin-top: 30px;

    &::after {
      z-index: 2;
      background-image: url("../img/rectangle.svg");
      background-repeat: no-repeat;
    }

    &::before {
      left: 317px;
      top: 535px;
      z-index: 3;

      width: 47px;
      height: 47px;

      background-image: url("../img/rectangle.svg");
      background-repeat: no-repeat;
    }
  }

  &:nth-child(3n+3) {
    margin-top: -10px;

    &::before {
      left: 270px;
      top: -33px;
      z-index: 3;

      width: 95px;
      height: 95px;
    }
  }
}

.types img {
  position: relative;
  z-index: 2;

  display: block;

  width: 100%;
  // width: 343px;
  height: auto;
}

.types p {
  font-family: inherit;

  @include font (22px, 34px, 600);

  text-align: center;
  letter-spacing: -0.5px;

  @include mapa;
  margin-top: 22px;

  color: $black;
}


@media (max-width: $tablet-width-only) {
  .types {
    padding: 50px 10px 70px;
    margin-top: 70px;
  }

  .types h2 {
    margin-bottom: 30px;

    @include font (24px, 41px, 600);
  }

  .types__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0 60px;
  }

  .types__item--children .types__img {
    background-image: url("../img/children-1-tablet@1x.png");

    padding: 150px 0;
  }

  .types__item--mountains .types__img {
    background-image: url("../img/mountains-1-tablet@1x.png");

    padding: 150px 0;
  }

  .types__item--road .types__img {
    background-image: url("../img/road-1-tablet@1x.png");

    padding: 150px 0;
  }

  @media (min-resolution: $retina-dppx) {
    .types__item--children .types__img {
      background-image: url("../img/children-1-tablet@2x.png");
    }

    .types__item--mountains .types__img {
      background-image: url("../img/mountains-1-tablet@2x.png");
    }

    .types__item--road .types__img {
      background-image: url("../img/road-1-tablet@2x.png");
    }
  }

  .types__item {
    position: relative;

    flex: 0 0 270px;

    margin-bottom: 50px;

    &:last-child {
      margin: 0 auto;
    }

    &::before {
      position: absolute;
      left: -35px;
      top: auto;
      bottom: 25px;
      z-index: 1;

      content: "";

      width: 127px;
      height: 127px;

      background-image: url("../img/ellipse.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:nth-child(3n+2) {
      margin-top: 0;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &:nth-child(3n+3) {
      margin-top: 0;

      &::before {

        left: auto;
        top: -20px;
        right: -27px;
        z-index: 3;

        width: 68px;
        height: 68px;
      }
    }
  }

  .types img {
    position: relative;
    z-index: 2;

    display: block;

    width: 100%;
    height: auto;
  }

  .types p {
    margin-top: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .types {
    padding: 48px 25px 54px;

    margin-top: -10px;
  }

  .types h2 {
    margin-bottom: 30px;
  }

  .types__list {
    justify-content: center;

    padding: 0;
  }

  .types__item {
    margin-bottom: 41px;

    &:not(:last-child) {
      margin-right: 0;
    }

    &::before {
      position: absolute;
      left: -25px;
    }

    &:nth-child(3n+3) {
      &::before {
        right: -10px;
      }
    }
  }

  .types p {
    margin-top: 20px;
  }
}
