@media (min-width: $desktop-width) {
  .videodata {
    position: relative;

    width: 100%;
    min-height: 804px;

    padding: 120px 10px 0;

    background: linear-gradient(to bottom, $black-dark 706px, $white 98px);
  }

  .videodata__heading {
    display: flex;
    justify-content: center;

    @include mapa;
    margin-bottom: 20px;

    font-family: inherit;

    @include font (30px, 30px, 600);

    letter-spacing: -0.005em;

    color: $white;
  }

  .videodata__text {
    display: flex;
    justify-content: center;

    width: 28%;

    font-family: inherit;

    @include font (16px, 28px, 300);

    text-align: center;
    letter-spacing: -0.005em;

    @include mapa;
    margin: 0 auto;

    color: $white;

    opacity: 0.7;
  }

  .videodata__video {
    display: flex;
    justify-content: center;

    width: 929px;
    height: auto;

    @include mapa;
    margin: 0 auto;
    margin-top: 55px;
  }

  .videodata__play {
    position: absolute;
    left: calc(50% - 32px);
    bottom: 230px;

    @include mapa;
    margin: 0 auto;

    border: none;
    background: none;
  }
}
