@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "blocks/page-header.scss";
@import "blocks/aboutus.scss";
@import "blocks/types.scss";
@import "blocks/videodata.scss";
@import "blocks/contacts.scss";

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;

  font-family: "Open Sans", "Arial", sans-serif;

  @include font;
  margin: 0 auto;

  color: rgba($black, 1);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;

  padding: 0 17px;
}

@media (max-width: $tablet-width-only) {
  .container {
    width: 100%;
  }
}

@media (max-width: $mobile-width-only) {
  .container {
    width: auto;
  }
}
