$cyan: #0ad9c6;
$white: #ffffff;
$black: #000000;
$black-dark: #131314;
$black-light: #1f1f1f;
$gray: #48494d;
$gray-light: #f6f7f9;
$form: #1c1c1c;
$form-border: #c9ccd4;
$desktop-width: 1024px;
$tablet-width-only: 1023px;
$tablet-width: 768px;
$mobile-width-only: 767px;
$mobile-width: 320px;
$retina-dppx: 1.5dppx;
